<body>
    <div class="container headdiv">
        <div class="text-center">
            <h1 class="text-center"> GUESS NUMBER GAME IN K8S</h1>
        </div>
    </div>
    <div class="container formdiv">
        <!-- <input type="number" min="1" max="100" class="col-sm-6 col-md-6"> -->
        <div class="form-group">
            <label for="exampleInputnumber1">Enter Your random <b>GUESS NUMBER</b> between <b><i>1 - 100</i></b></label>
            <input type="number" (keydown.enter)="checkMyGN()" [(ngModel)]="guessNumber" class="form-control col-sm-6 col-md-6 " aria-describedby="numberHelp" min="1" max="100" placeholder="Enter number"><br>
            <button (click)="checkMyGN()" class="btn btn-primary sub">Submit</button><br><br>
            <small id="numberHelp" *ngIf="message!=''" class="col-sm-8 col-md-8 form-text text-muted" ng-bind-html="message">{{message}}</small>
            <div class="col-sm-6 col-md-6"><br>
                <small><table class="table" *ngIf="isTable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Attempts</th>
                            <th scope="col">Entered Number</th>
                            <th scope="col">Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let number of enteredNumbers | keyvalue; index as i;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{number.key}}</td>
                            <td>{{number.value}}</td>
                        </tr>
                    </tbody>
                </table></small>
            </div>
        </div>
    </div>
</body>